body, html{
    margin: 0;
    padding: 0;
}

li{
    list-style-type: none;
}

main{
    background-color: beige;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: auto;
    grid-template-areas: "search-aside weather-info weather-info weather-info";
}

aside{
    grid-area: search-aside;
}

.info-weather{
    grid-area: weather-info;
}